# docker-compose.yaml
version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
    volumes:
      - ./templates:/root/templates
      - ./static:/root/static
    restart: unless-stopped
